<div v-if="currentPost" class="row">
  <div class="col-8">
    <b-img
      rounded
      center
      class="d-inline-block mr-1 mb-1"
      :src="currentPost.photo"
      fluid
    />
  </div>
  <div class="col-4">
    <div class="d-flex justify-content-start align-items-center mb-1">
      <b-avatar size="50" class="mr-1" :src="currentPost.author.avatar" />

      <div class="profile-user-info">
        <h6 class="mb-0">{{ currentPost.author.username }}</h6>
        <small class="text-muted">{{ currentPost.created_at }}</small>
      </div>
    </div>
    <b-card-text>
      {{ currentPost.content }}
    </b-card-text>

    <b-link class="d-flex align-items-center text-muted text-nowrap">
      <feather-icon
        icon="HeartIcon"
        class="mr-50"
        :class="currentPost.youLiked ? 'profile-likes' : 'profile-icon'"
        size="18"
        @click="
          currentPost.youLiked
            ? unlike(currentPost.id)
            : addnewliketoPost(currentPost.id)
        "
      />
    </b-link>

    <div class="d-flex align-item-center">
      <b-avatar-group size="26" class="ml-1">
        <b-avatar
          v-for="(avatarData, i) in currentPost.likedby"
          :key="i"
          v-b-tooltip.hover.bottom="avatarData.authorOBJ.username"
          class="pull-up"
          :src="avatarData.authorOBJ.avatar"
        />
      </b-avatar-group>
      <b-link
        v-if="currentPost.likedby_aggregate.aggregate.count"
        class="text-muted text-nowrap mt-50 ml-50"
        >{{ currentPost.likedby_aggregate.aggregate.count }} Likes</b-link
      >
    </div>

    <div
      v-for="commentx in currentPost.comments"
      :key="commentx.id"
      class="d-flex align-items-start mb-1"
    >
      <b-avatar
        :src="commentx.owner.avatar"
        size="34"
        class="mt-25 mr-75"
      />
      <div class="profile-user-info w-100">
        <div class="d-flex align-items-center justify-content-between">
          <h6 class="mb-0">{{ commentx.owner.username }}</h6>
        </div>
        <small>{{ commentx.text }}</small>
      </div>
    </div>
    <br />
    <b-form-group>
      <b-form-textarea rows="3" placeholder="Add Comment" />
    </b-form-group>
    <!--/ comment box -->

    <b-button
      v-ripple.400="'rgba(255, 255, 255, 0.15)'"
      size="sm"
      variant="primary"
    >
      Submit
    </b-button>
  </div>
</div>